#container{
    width: 700px;
    height: 400px;
    outline: 2px solid black;
    text-align:center; /* this centers the text */
    margin: 0px auto;
}

.row{
    width: 700px;
    height: 150px;   
    margin: 0px auto; /*this centers the rows */
}

img{
    height: 100px;
    width: 100px;
    margin: 6px;
    outline: 2px solid black;
}

title{
    align-content: center;
}